<a href="https://colab.research.google.com/github/ej5959h/ej5959h/blob/main/(%EA%B8%B0%EC%B4%88)_%EC%97%B0%EC%8A%B5%EC%A7%80_%EC%8B%A4%EC%8A%B5%EC%A7%80_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

## 1단계

In [ ]:
# 1. 불러오기
import pandas as pd

In [ ]:
## 데이터셋
names = ['피카츄','라이츄','파이리','꼬부기','버터풀','야도란','피죤투']
ages = [2,3,2,5,2,2,3]

포켓몬스터 = list(zip(names,ages))

df = pd.DataFrame(data = 포켓몬스터, columns=['Names','Ages'])

In [ ]:
# 2. 데이터 정보 확인하기 
df.head() #5행까지 확인

  Names  Ages
0   피카츄     2
1   라이츄     3
2   파이리     2
3   꼬부기     5
4   버터풀     2

In [ ]:
df.dtypes #데이터 타입 확인

Names    object
Ages      int64
dtype: object

In [ ]:
df.columns #열 정보 확인

Index(['Names', 'Ages'], dtype='object')

In [ ]:
### 연습
### 본 데이터의 5행까지의 정보를 출력해 보세요.

In [ ]:
df.head()

  Names  Ages
0   피카츄     2
1   라이츄     3
2   파이리     2
3   꼬부기     5
4   버터풀     2

# 2단계

In [ ]:
# 1. 선택하기

In [ ]:
df['Names'] #하나의 열 선택

0    피카츄
1    라이츄
2    파이리
3    꼬부기
4    버터풀
5    야도란
6    피죤투
Name: Names, dtype: object

In [ ]:
df[0:3] # 두 번째까지의 인덱스 선택

  Names  Ages
0   피카츄     2
1   라이츄     3
2   파이리     2

In [ ]:
# 2. 조건을 추가하여 선택하기

In [ ]:
# 2살 초과의 포켓몬 확인하기
df[df['Ages']>2] # 전체 데이터프레임에서 'Ages' 열에 해당하는 데이터가 2보다 큰 경우에만 데이터를 반환해달라

  Names  Ages
1   라이츄     3
3   꼬부기     5
6   피죤투     3

In [ ]:
### 연습
### 피카츄랑 동갑인 포켓몬을 확인해 보세요.

In [ ]:
df[df['Ages']==2]

  Names  Ages
0   피카츄     2
2   파이리     2
4   버터풀     2
5   야도란     2

In [ ]:
# 평균값 계산하기 
df.mean()

<ipython-input-18-1dd35dc9446d>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Ages    2.714286
dtype: float64

In [ ]:
### 연습 
### 본 데이터의 5행까지의 정보를 확인해 보세요.
### 본 데이터의 타입을 확인해 보세요.
### 2살 초과의 포켓몬 확인해 보세요.
### 포켓몬의 평균 나이를 계산해 보세요.

In [ ]:
df.head()

  Names  Ages
0   피카츄     2
1   라이츄     3
2   파이리     2
3   꼬부기     5
4   버터풀     2

In [ ]:
df.dtypes

Names    object
Ages      int64
dtype: object

In [ ]:
df[df['Ages']>2]

  Names  Ages
1   라이츄     3
3   꼬부기     5
6   피죤투     3